
header {
    padding: 20px;
    text-align: left;
    background: #0b4479;
    color: #fff;
  }

nav {
    text-align: right;
  }
  
aside {
    flex: 30%;
    background-color: #19262c;
    padding: 20px;
    flex-wrap: wrap;
  }
  
section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }
  